<!DOCTYPE html>
<html lang="en" xmlnxs="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>
            <span th:text="あなたの名前"/>
        </td>
        <td>
            <span th:text="${yourName}"/>
        </td>
    </tr>
</table>
</body>
</html>